body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img-sobre/BackgroundPng.png);
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
}
